*~
\#*
.#*
*pyc

www/css/style.css
www/js/betafox.js

# Node modules we get from package.json, but shouldn't be commited to the tree
node_modules/.bin/grunt
node_modules/grunt-cli/
node_modules/grunt-contrib-clean/
node_modules/grunt-contrib-concat/
node_modules/grunt-contrib-cssmin/
node_modules/grunt-contrib-jshint/
node_modules/grunt-contrib-nodeunit/
node_modules/grunt-contrib-uglify/
node_modules/grunt/

# Node modules which might be installed and don't belong in the tree

node_modules/.bin/node-dev
node_modules/node-dev/

node_modules/.bin/nodemon
node_modules/nodemon/
