{% extends "layout.html" %} {% block title %}BetaFox - {{app.name}}{% endblock %} {% block content %}
<h2>Install {{version.manifest.name}}</h2>

<!-- TODO: mozApps installPackage -->
<img src="{{app.icon_url}}" />
<div class="app-name">{{version.manifest.name}}</div>
<p class="app-name">{{version.manifest.description}}</p>
<div class="app-version">{{version.manifest.name}}</div>
<input type="submit" id="app-install-btn" name="app-install-btn" value="Install" />

<h3>Versions</h3>
<ol class="versions">
{% for ver in versions %}
  <li><a href="/app/v/{{ ver | urlencode }}/install/{{ app.code | urlencode }}">Version {{ ver }}</a></li>
{% endfor %}
</ol>
{% endblock %}
