{% extends "layout.html" %} {% block title %}BetaFox - {{app.name}}{% endblock %} {% block content %}
<h2>{{version.manifest.name}}</h2>
<h3>Install Link</h3>
<div class="install-link">
  <a href="{{version.installUrl}}">Install Current Version</a>  <a href="" class="share">Share</a>
</div>
<h3>Versions</h3>
<ol class="versions">
{% for ver in versions %}
  <li><a href="/app/v/{{ ver[0] | string | urlencode }}/install/{{ app.code | urlencode }}">Version {{ ver[1] }}</a></li>
{% endfor %}
</ol>
<h3>Upload New Version</h3>
{% include "includes/_upload_app_form.html" %}

{% endblock %}
