{% extends "layout.html" %}
{% block page_css %}{{ cachify_css('/css/help.css') }}{% endblock %}
{% block title %}BetaFox - Give Beta Testers access to your Apps{% endblock %}
{% block content %}
<div class="help">
<h2>How to test Apps through BetaFox</h2>
<p>Getting and testing FirefoxOS apps from a developer happens in X steps.</p>
<ol>
  <li>Provision your device</li>
  <li>Install the App</li>
</ol>

<h2>Step 1 - Provisioning Your Device</h2>
<p>This step looks scary, but it only has to be done once.</p>

<div><strong>Warning</strong>While a phone is provisioned to be a test device,
it will not be able to install or run other apps from the Marketplace.</div>

<h3>Requirements:</h3>
<p>You need the following pieces to provision your device:</p>
<ul>
  <li>USB Cable for your Device</li>
  <li>adb from the Android SDK or elsewhere</li>
  <li>`sh` or `bash` and a Terminal</li>
  <li>Download and unzip <a href="https://github.com/ozten/betafox-addon/raw/master/cli/provision-betafox.zip">provision-betafox.zip</a></li>
</ul>

Make sure you can see your device. One the command line, try

<code>adb devices</code>

Note your device's name. We'll assume `full_unagi` in this example.

<p>If everything worked...  Try the following:</p>
<code>./provision-betafox.sh full_unagi {{ publicHostname }}</code>

<p>Your device should reboot and provisioning is finished.</p>
<h2>Step 2 - Installing the App</h2>
<p>A developer should get you an App install link. Load that link on the browser on your device.</p>

<p><strong>Note:</strong> If you have already installed the App, <strong>you must remove the app</strong>, before installing it a second time.</p>
</div>
<h2>Reverting to Marketplace</h2>
<p>A device that trusts BetaFox will no longer work with production Marketplace.
The original directory you ran these commands from, will include a <code>backup</code> directory.</p>
<p>From the same directory, do:</p>
<code>./revert-provisioning.sh full_unagi</code>

<p>Your phone will reboot and should now work with Marketplace again.</p>

{% endblock %}
