/* app_install.css */

#wrap {
  display: flex;
  flex-direction: column;
}

.header, #main-content, .footer {
  flex: 1;
}

#main-content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 500px) {
  #main-content {
    flex-direction: row;
  }
  #container {
    margin-right: 25px;
    border-bottom: none;
  }
}
@media (min-width: 1000px) {
  #sidebar {
    display: flex;
    flex-direction: row;
  }
  #share-page {
    order: 1;
  }
  #other-version {
    order: 0;
    margin-right: 25px;
  }
}

#tagline, #app-name-icon, #container, #sidebar {

}

#container {
  margin-top: 25px;
  padding-bottom: 25px;
  border-bottom: solid 25px #F1F1F1;
}

#app-name-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#sidebar {
  padding-top: 25px;
  padding-bottom: 25px;
}

h3 {
  
}

.version {   line-height: 2em; }

button.install, button.launch {
  color: #FFF;
  background-color: #42cafe;
  border-radius: 5px;
}
button.install:hover, button.launch:hover {
  color: #FFF;
  background-color: #67e0fd;
}
button.install:active, button.launch:active {
  color: #CBCBCB;
  background-color: #559dbd;
}

.qrcode img {
  width: 100%;
}

.tinyurl { font-family: monospace; font-size: 1.25em; font-weight: 600; }

#needs-mozapps {
  background-color: #f54b3c;
  color: #000;
  padding: 1em;
}