img {
  max-width: 100%;
}

/* Structure */
#wrap {
  display: flex;
  flex-direction: column;
  xalign-items: stretch;
  xalign-content: stretch;
  xjustify-content: center;
  min-height: 100vh;
}

.header {
  height: 75px;
  border-bottom: solid 1px grey;
}

.footer {
  height: 50px;
  align-content: center;
  justify-content: center;
  border-top: solid 1px grey;
}

#main-content {
  display: flex;
  flex: 1;
  flex-direction: rows;
  align-self: stretch;
}

#container {
  padding-top: 25px;
  padding-bottom: 25px;
  flex: 5;
}

#sidebar {
  flex: 2;
  padding-top: 25px;
  padding-bottom: 25px;
  border-left: solid 1px grey;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.app_install #container, .app_install #sidebar {
  flex: 1;
}


.logo {
  display: flex;
  flex-direction: row;
  flex: 5;
}
.logo h1, .tagline { align-self: flex-end; margin-right: 5%;}
.logo h1 {
  flex: 4;
}
.tagline {
  flex: 4;
}
.auth {
  flex: 2;
}
.auth {
  text-align: right;
}

#container {
  display: block;
}

.install {
  font-size: 3em;
}

@media (max-width: 400px) {
  #main-content {
    display: flex;
    flex-direction: column;
  }

  .logo {
    flex-direction: column;
  }
  .tagline {
    width: 100%;
    margin-left: 20px;
  }

  #sidebar { border-top: solid 1px black; margin-top: 10px; }

}

/* auth structure */
.auth {
  display: flex;
  flex-direction: rows;
  margin-right: 5%;
}

.auth a, .greeting, .logout {
  flex: 1;
  align-self: flex-end;
}



/* Style */

h1 {
  font-size: 3em; /* 48px; */
  line-height: 1.1em;
}
h2 {
  font-size: 2.25em; /* 36px; */ 
  line-height: 1.5em;
}

h3 {
  font-size: 1.125em; /* 18px; */
  line-height: 1.5em;
}

code {
  font-family: Courier, monospace;
}

/* Install pages */
.install-link-block {
  background-color: #EEE;
  color: #000;
  padding: 0.5em auto;
}

.install-link-block p {
  margin-bottom: 0.5em;
}
.install-link-block .button {
    color: #FFF;
  background-color: #42cafe;
  border-radius: 5px;
  padding: 10px;
  margin: 1em 0.5em 0.5em 0em;
  font-size: 1.125em;
  line-height: 1.5em;
}

button.delete {
  width: 100px;
  background-color: #f54b3c;
  color: #FFF;
  border-radius: 5px;
}

button.delete:hover {
  background-color: #b63932;
  color: #EEE;
}

button.delete:active {
  background-color: #ff6c70;
  color: #333;
}

.upload-new-version {
  margin: 0.5em auto;
  border: solid 1px #333;
}
h3 {
  margin: 0.5em auto;
}


/* end Install */

/* Behavior */
ol.versions {
  list-style: none;
}



.tinyurl {
  font-family: Courier, monospace;
}